<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px; width: 100%;">
    <tr>
        <td><em>{{# str }} actions, atto_cloudpoodll {{/ str }}</em></td>
        <td><a href="#"  data-action-type="preview" data-history-id="{{value}}">{{# pix }} t/preview, core{{/ pix }}</a>
        | <a href="#" data-action-type="delete" data-history-id="{{value}}">{{# pix }} t/delete, core{{/ pix }}</a>
        | <a href="#" data-action-type="add" data-history-id="{{value}}">{{# pix }} t/add, core{{/ pix }}</a> </td>
    </tr>
</table>
