{{#data}}
<br/>
<div id="atto_cloudpoodle_history_preview_div" style="display: none;">
    <div class="mask gradient-card align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="bg-info">{{filetitle}}</h2>
                    {{^isVideo}}
                        <audio controls="true" crossorigin="anonymous" >
                            <source src="{{mediaurl}}" type="audio/mpeg">
                        </audio>
                    {{/isVideo}}
                    {{#isVideo}}
                        <video controls="true" crossorigin="anonymous">
                            <source src="{{mediaurl}}" type="video/mp4">
                        </video>
                    {{/isVideo}}
                    <br/>
                    <br/>
                    <a href="#" class="btn btn-info" data-content="history" role="button">&laquo; {{# str }} historyback, atto_cloudpoodll {{/ str }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/data}}

{{#js}}
    require(['jquery'], function(jQuery) {
        jQuery(document).ready(function() {
               jQuery('#atto_cloudpoodle_history_preview_div').slideDown('slow');

                 $('.atto_cloudpoodll_form a[data-content="history"]').on("click", function () {
                       const loadingHtml = "<br /><div class=\"d-flex justify-content-center\">\n" +
                           "  <div class=\"spinner-border\" role=\"status\">\n" +
                           "    <span class=\"sr-only\">{{# str }} loading, atto_cloudpoodll {{/ str }}</span>\n" +
                           "  </div>\n" +
                           "</div><br />";

                       $('div[data-field="history"]').html(loadingHtml);

                       Y.namespace('M.atto_cloudpoodll').Button.prototype.loadHistory();
                   });
            });
        } );
{{/js}}