<button type='button' id='{{loomid}}_launcher' class="af_cp_loomlaunchbutton">{{#str}}startscreencast,atto_cloudpoodll{{/str}}</button>
<div id="{{loomid}}_target"></div>
<input type="hidden" id="{{loomid}}_playersource"></input>
<input type="hidden" id="{{loomid}}_videourl"></input>
<div id="{{loomid}}_script"></div>
