<div data-medium-type="{{CSS.SCREEN}}" class="tab-pane active" id="{{elementid}}_{{CSS.SCREEN}}">
    <div id="id_responsive_atto_cloudpoodll_loom_cont">
        <button type='button' id='{{elementid}}_loom_launcher' class="af_cp_loomlaunchbutton">{{#str}}startscreencast,atto_cloudpoodll{{/str}}</button>
        <div id="{{uniqid}}_target"></div>
    </div>
</div>

{{^element.frozen}}
{{#js}}
//<script>

require(['jquery', 'atto_cloudpoodll/loomhelper'], function($, loomhelper) {
    loomhelper.init("{{uniqid}}","jws");
});

{{/js}}
{{/element.frozen}}