<button type='button' id='{{loomid}}_launcher' class="af_cp_loomlaunchbutton">{{#str}}startscreencast,assignfeedback_cloudpoodll{{/str}}</button>
<div id="{{loomid}}_target"></div>
<div id="{{loomid}}_script"></div>
