<ul class="root nav nav-tabs" role="tablist">
    {{#isvideo}}
        <li data-medium-type="{{CSS.VIDEO}}" class="nav-item">
            <a class="nav-link active" href="#{{elementid}}_{{CSS.VIDEO}}" role="tab" data-toggle="tab">
                {{#str}}video, atto_cloudpoodll{{/str}}
                </a>
        </li>
    {{/isvideo}}
    {{#isscreen}}
        <li data-medium-type="{{CSS.SCREEN}}" class="nav-item">
            <a class="nav-link active" href="#{{elementid}}_{{CSS.SCREEN}}" role="tab" data-toggle="tab">
                {{#str}}screen, atto_cloudpoodll{{/str}}
            </a>
        </li>
    {{/isscreen}}
    {{#isaudio}}
        <li data-medium-type="{{CSS.AUDIO}}" class="nav-item">
            <a class="nav-link active" href="#{{elementid}}_{{CSS.AUDIO}}" role="tab" data-toggle="tab">
                {{#str}}audio, atto_cloudpoodll{{/str}}
                </a>
        </li>
    {{/isaudio}}
    {{^isscreen}}
        {{#showupload}}
            <li data-medium-type="{{CSS.UPLOAD}}" class="nav-item">
                <a class="nav-link" href="#{{elementid}}_{{CSS.UPLOAD}}" role="tab" data-toggle="tab">
                    {{#str}}upload, atto_cloudpoodll{{/str}}
                    </a>
            </li>
        {{/showupload}}
    {{/isscreen}}
    {{#showoptions}}
        <li data-medium-type="{{CSS.OPTIONS}}" class="nav-item">
            <a class="nav-link" href="#{{elementid}}_{{CSS.OPTIONS}}" role="tab" data-toggle="tab">
                {{#str}}options, atto_cloudpoodll{{/str}}
            </a>
        </li>
    {{/showoptions}}
    {{#showhistory}}
        <li data-medium-type="{{CSS.HISTORY}}" class="nav-item" data-content="history" >
            <a class="nav-link" href="#{{elementid}}_{{CSS.HISTORY}}" role="tab" data-toggle="tab">
                {{#str}}history, atto_cloudpoodll{{/str}}
            </a>
        </li>
    {{/showhistory}}
 </ul>