<form class="mform atto_form atto_cloudpoodll_form" id="{{elementid}}_atto_cloudpoodll_form">
    {{> atto_cloudpoodll/menu}}
    <div class="root tab-content">
      {{#isvideo}}{{> atto_cloudpoodll/videopanel}}{{/isvideo}}
      {{^isvideo}}{{> atto_cloudpoodll/audiopanel}}{{/isvideo}}
      {{> atto_cloudpoodll/uploadpanel}}
       {{#showhistory}}
          <div data-medium-type="{{CSS.HISTORY}}" data-field="history" data-loaded="false" class="tab-pane" id="{{elementid}}_{{CSS.HISTORY}}"></div>
        {{/showhistory}}
    </div>
</form>