<div data-medium-type="{{CSS.SCREEN}}" class="tab-pane active" id="{{elementid}}_{{CSS.SCREEN}}">
    <div id="id_responsive_atto_cloudpoodll_video_cont">
        <div id="{{elementid}}_{{CSS.CP_SCREEN}}" class="{{CSS.CP_SWAP}}" data-iframeclass="atto_cloudpoodll_iframe" data-id="{{elementid}}_{{CSS.CP_SCREEN}}" data-parent="{{CP.parent}}"
        data-appid="{{CP.appid}}" data-media="video" data-type="screen" data-localloader="/lib/editor/atto/plugins/cloudpoodll/poodllloader.html"
        data-localloading="auto" data-width="{{CP.sizes.videowidth}}" data-height="{{CP.sizes.videoheight}}"
        data-transcode="{{CP.transcode}}" data-transcribe="{{subtitlevideobydefault}}" data-subtitle="{{subtitlevideobydefault}}" data-language="{{CP.language}}"
        data-expiredays="{{CP.expiredays}}" data-region="{{CP.region}}" data-owner="{{CP.owner}}" data-token="{{CP.token}}" data-fallback="{{CP.fallback}}">
        </div>
    </div>
</div>
